.bar-button {
    border: none;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
}

.sidebar {
    height: 100%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.bar-item {
    padding: 8px 16px;
    width: auto;
    border: none;
    display: block;
    outline: none;
    text-align: center;
    white-space: normal;
    color: #404040;
    transition: 0.5s;
}

.bar-item:hover {
    color: #FFFFFF;
    background-color: #FFC22A;
}

.animate-left {
    position: relative;
    animation: animateleft 0.7s;
}

.btn-close-bar {
    color: #fff;
    background-color: rgb(100, 200, 240)!important;
    text-align: right;
    font-size: 25px;
    transition: 0.5s;
}

.closed-bar {
    color: #fff!important;
    background-color: rgb(100, 200, 240)!important;
    position: fixed;
    width: 5%;
    height: 100%;
    overflow: auto;
    max-width: 45px;
}

.closed-bar .bar-button {
    color: #fff!important;
    background-color: rgb(110, 200, 240)!important;
    font-size: 25px;
    padding: 8px;
}

main {
    transition: margin-left 0.4s;
    margin: 15px 5%;
}

.message {
    color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 85%;
    padding: 8px;
    margin: 5px 10px;
    font-size: 1em;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: evaporate 10s linear 0s 1 normal forwards;
    position: relative;
    display: inline;
}

.success {
    background-color: #4dcb4d;
}

.fail {
    background-color: rgb(240, 110, 110);
}

.create-button {
    background-color: rgb(110, 200, 240);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    margin: 5px 10px;
    padding: 8px;
    font-size: 1em;
    height: 42px;
    outline: none;
}

.create-button:hover {
    background-color: rgb( 90, 230, 255);
}

.fa-minus-circle{
    color: rgb(240, 110, 110);
}

.fa-pencil {
    color: #4CAF50;
}

.negative {
    color: #FFFFFF;
    background-color: #FFC22A;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes evaporate {
    0% {
        left: -100%;
        opacity: 0;
    }
    10% {
        left: 0px;
        opacity: 1;
    }
    90% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}