.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.mySlides {
    transition: margin 0.5s linear;    
    width:100%;
    vertical-align: top;
}

.slide-container {
    position: relative;    
    max-width: none;
    max-height: 500px;
    overflow: hidden;
    white-space: nowrap;
}
