:root {
  --main-color: #3d9ac7;
  --button-color: #FF9700;
  --button-color-hover: #FFC22A;
  --background-color: #FFFFFF;
  --text-color: #FFFFFF;
  --text-color-on-white: #404040;
}

html, body {
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

header {
  z-index: 1;
  width: 100%;
  background: var(--main-color);
  position: sticky;
  top: 0;
}

.transition {
  transition: 0.5s;
  transition-timing-function: ease-in;
}

h1, h2, h3, h4, h5 {
  color: var(--text-color);
  font-family: inherit;
}

a {
  color: var(--button-color);
  text-decoration: none;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto 300px;
}

.logo {
  max-width: 200px;
}

.logo img {
  margin: 8px;
  width: 100%;
}

.menu {
  margin: 0px;
  max-width: 280px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  text-align: center;
}

.menu ul li {
  float: left;
  display: inline-flex;
}

.menu ul li a {
  padding: 14px 16px;
  height: 100%;
  background: var(--button-color);
  color: var(--text-color);
  text-decoration: none;
  margin: 0;
  border: 0;
}

.menu ul li:first-child a {
  border-radius: 30px 0px 0px 30px;
}

.menu ul li:last-child a {
  border-radius: 0px 0px 30px 0px;
}

.menu ul li a:hover {
  color: var(--text-color);
  background-color: var(--button-color-hover);
  text-decoration: none;
}

.modal {
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6)
}

.modal-content {
  margin: auto;
  background-color: var(--background-color);
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px
}

.modal-container:after, .modal-container:before {
  content: "";
  display: table;
  clear: both
}

.form-search {
  margin: 0;
  text-align: center;
  border-radius: 5px;
  background-color: var(--main-color);
  overflow: auto;
}

.form-search-home {
  margin: 0;
  padding: 2%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: var(--main-color);
  overflow: auto;
}

input {
  margin-left: 10px;
  margin-top: 15px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
  border: none;
  color: var(--text-color-on-white);
  font-size: 1em;
  border-radius: 5px;
  padding: 6px;
  font-family: inherit;
  outline: none;
}

.info h3 {
  display: inline-block;
}

.button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-family: inherit;
  padding: 2%;
  margin: 2%;
  font-size: inherit;
  outline: none;
}

.button:hover {
  background-color: var(--button-color-hover);
}

.search-btn {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-family: inherit;
  margin: 1%;
  font-size: 1em;
  height: 42px;
  outline: none;
}

.search-btn:hover {
  background-color: var(--button-color-hover);
  color: var(--text-color);
}

.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 30%;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 5px;
  width: 100%;
}

.dropdown-content a {
  color: var(--text-color-on-white);
  padding: 12px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--button-color-hover);
  color: var(--text-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  min-height: calc(80vh - 150px);
  /* Mantem o Footer embaixo */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  margin: 3%;
  padding: 10px 20px;
  padding-bottom: 50px;
  background-color: var(--background-color);
}

.title {
  margin: 4%;
}

.dark-text {
  color: var(--text-color-on-white);
}

.item {
  background-color: var(--background-color);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
  border: none;
  color: var(--text-color-on-white);
  font-size: 1em;
  border-radius: 5px;
}

.green-text {
  color: #39b54a!important;
}

.item .card-text {
  color: var(--text-color);
  font-size: 1px;
}

.item:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .8);
  color: var(--text-color-on-white);
}

.item:hover .card-text {
  color: var(--text-color-on-white);
  font-size: 1em;
}

.item img {
  width: 100%;
}

.card {
  margin: 5%;
}

.item-partner {
  background-color: var(--background-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
  border: none;
  color: var(--text-color-on-white);
  border-radius: 5px;
}

.item-partner:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .8);
}

.item-partner img {
  display: block;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  width: 100%;
}

.item-partner:hover img {
  border-radius: 25px;
}

.login {
  margin: 0px 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .8);
  background-color: var(--background-color);
}

.login form {
  margin: 20px;
  padding: 10px;
}

.login form img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.login form input {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .8);
  width: 80%;
  display: block;
  margin: 20px;
}

#checkbox {
  width: auto;
  height: auto;
  display: inline-block;
}

.login button {
  margin: 0px 20px;
  background-color: var(--button-color);
  display: block;
  color: var(--text-color);
}

.login button:hover {
  background-color: var(--button-color-hover);
  color: var(--text-color);
}

footer {
  position: sticky;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
  background-color: var(--main-color);
  color: var(--text-color);
}

footer ul {
  list-style-type: none;
}

footer ul li:first-child {
  display: inline-flex;
  margin: 10px;
}

footer ul li {
  display: inline-flex;
  margin: 10px 5px;
}

footer ul li svg {
  height: 18px;
  width: 18px;
  display: block;
  fill: currentcolor;
}

footer ul li svg:hover {
  height: 18px;
  width: 18px;
  display: block;
  fill: var(--button-color-hover);
}

.w3-modal-content {
  width: 500px;
}

.content-view {
  margin: 2%;
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 10px;
}

.content-view .item-view {
  margin: 5%;
  background-color: var(--background-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
  border: none;
  color: var(--text-color-on-white);
  font-size: 1em;
  border-radius: 5px;
}

.content-view .item-view p {
  color: var(--text-color-on-white);
  margin: 2% 3%;
}

.content-view .item-view button {
  margin: 10px 20px;
  background-color: var(--button-color);
  display: block;
  color: var(--text-color);
}

.content-view .item-view button:hover {
  background-color: var(--button-color-hover);
}

.content-view .slider {
  margin: 5%;
  background-color: var(--background-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
  border: none;
  border-radius: 5px;
}

.content-view img {
  max-height: 350px;
}

.fa {
  color: var(--text-color);
  font-size: 2em;
}

.fa:hover {
  color: var(--button-color-hover);
}

@media only screen and (max-width: 900px) {
  .menu ul li:nth-child(n) a {
    border-radius: 30px 30px 30px 30px;
    font-size: 10px;
  }
  .form-home input {
    height: 15px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 10px;
    padding: 3px;
  }
}